
@import '~bootstrap/dist/css/bootstrap';

:root{
    --main-color:brown;
    --black:rgb(29, 29, 29);
    --white:rgb(98, 60, 60);
    --accent:rgb(219, 186, 0);
}

.title-font{
    font-family: 'Karantina', cursive;
}
/* font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Raleway', sans-serif; */

.brand{
    font-family: 'Karantina', cursive;
    color: var(--accent);
    font-size: 65px;
    font-weight: 700;
    transition: 1s;
}

.brand:hover{
    font-family: 'Karantina', cursive;
    color: var(--white);
    font-size: 65px;
    font-weight: 700;
    transition: 1s;
}

.nav-text{
    font-family: 'Oswald', sans-serif;
    color: var(--accent);
    font-size: 20px;
    font-weight: 600;
    
    
}
.nav-text:hover{
    font-family: 'Oswald', sans-serif;
    color: var(--accent);
    font-size: 20px;
    font-weight: 600;
    background-color:var(--main-color);
    
}

.nav-style{
    background-color: var(--main-color);
    
}

.button-nav{
    background-color: var(--accent);
    border: none;
    transition: 1s;
    font-family: 'Oswald', sans-serif;
}
.button-nav:hover{
    background-color: var(--white);
    border: none;
    transition: 1s;
    font-family: 'Oswald', sans-serif;
}

.body-style{
    background-color: var(--accent);
    width: 80%;
    border-radius: 20px;
    
}
.card{
    border-color: var(--main-color);
    border-radius: 20px;
}
.card-article{
    background-color: var(--main-color);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.card-title{
    font-family: 'Karantina', cursive;
    color: var(--accent);
    font-size: 28px;
    font-weight: 700;
}
.card-text{
    font-family: 'Oswald', sans-serif;
    color: var(--black);
}
.card-img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.title{
    font-family: 'Karantina', cursive;
    color: var(--main-color);
    font-size: 65px;
    font-weight: 700;
    transition: 1s;
}
.color-facebook{
    color: rgb(24, 119, 242);
}

.color-twitter{
    color: rgb(0, 162, 245);
}

.color-instagram{
    color: rgb(206, 61, 147);
}

.color-linkedin{
    color: rgb(8, 129, 176)
}
.social-title{
    font-family: 'Karantina', cursive;
    font-size: 35px;
    font-weight: 700;
}
.footer{
    display: flex;
    flex-wrap: wrap;
    background-color: var(--white);
    border-top-left-radius: 10px;
    border-top-right-radius: 60px;
    border-top: solid 35px var(--main-color);
    position: static;
    bottom: 0px;
    height: 300px;
}
.button-filler{
    background-color: var(--main-color);
    border: none;
    transition: 1s;
    font-family: 'Oswald', sans-serif;
    height: 40px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button-filler:hover{
    background-color: var(--main-color);
    border: none;
    transition: 1s;
    font-family: 'Oswald', sans-serif;
}
.detail-card{
    
    border: none;
    
}
